body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #d9d8d8; 
  color: #fff; 
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333; 
  padding: 20px;
  border-radius: 15px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

button {
  background-color: #10ca32; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

input[type=number] {
  width: 130px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
  box-sizing: border-box;
}
.error {
  color: red;
}
